body{
  overflow-y: scroll;
  overflow-x: hidden;
}


:root,
body,
html{
  /* background-color: #F8F8F8; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div, h1, h2, h3, h4, h5, h6, header, html, i, img, label, small, li, nav, p, span, ul{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body{
  position: relative;
  font-family: theinhardt,sans-serif;
  font-size: 100%;
  font-weight: 300;
  color: #383839;
  background-color: #f4f4f4;
}